.unregistered__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 5%;
}

.unregistered__paragraph h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3f3d56;
}
.unregistered__paragraph h2 {
  padding-top: 30px;
  color: #737cfe;
  text-align: end;
}

.unregistered__paragraph span {
  text-decoration: underline;
}
