html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.emptyVideos__container {
  display: flex;
  align-items: center;
}
.emptyVideos__container h1 {
  color: #737cfe;
  text-align: end;
}

.buttonsHeader__container * {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .login {
    flex-direction: column;
  }
  .login {
    margin-top: 40px;
  }
}
.MuiOutlinedInput-root {
  background-color: #f9f9ff;
}
